<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503946062912-0p85qbupi2voaoc58i2mug0pvn315c1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503946062912-0p85qbupi2voaoc58i2mug0pvn315c1c</string>
	<key>API_KEY</key>
	<string>AIzaSyAugeuJJWlMS01OGjhvzOpEhE3l0_EzKyk</string>
	<key>GCM_SENDER_ID</key>
	<string>503946062912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infivention.WordGame</string>
	<key>PROJECT_ID</key>
	<string>wordgame-3ca41</string>
	<key>STORAGE_BUCKET</key>
	<string>wordgame-3ca41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503946062912:ios:e6f6209b29b8836e</string>
	<key>DATABASE_URL</key>
	<string>https://wordgame-3ca41.firebaseio.com</string>
</dict>
</plist>